* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .hide {
    display: none;
  }

  .unhide {
    display: block;
  }

  /* header section starts */
  
  header {
    text-align: center;
    padding: 1% 5% 1% 5%;
    background-color: white;
  }

  .logo-img {
    width: auto;
    height: 50px;
  }

  /* header section ends */

  /* main section starts */

  main {
    width: auto;
    text-align: center;
    margin: 5% 10% -1% 10%;
    padding: 0% 5% 0% 5%;
  }

  .message {
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
    
  #thanks-message {
    font-size: 1.25rem;
    padding: 0 0 0.5rem 0;
  }

  #success-message {
    font-size: 2.125rem;
    font-weight: 700;
    color: #4caf50;
  }
  
  #request-message {
    font-size: 1.25rem;
    padding: 0 0 2.5rem 0;
  }

  #failure-reason {
    font-size: 1.25rem;
    color: red;
    padding: 0 0 2.5rem 0;
  }
  
  #redirecting-message {
    font-size: 0.8rem;
  }
  

  /* main section ends */

  /* footer section starts */

  .submit-container {
    margin: 1% 10%;
    padding: 1% 5% 1% 5%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .submit-btn {
    height: 40px;
    width: 150px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #0073cf;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    letter-spacing: 1px;
  }

  .submit-btn:hover {
    background-color: #002447;
  }

  /* footer section ends */